/* Custom */
@media screen {
	body {
		min-width: 336px;
		font-family: "Raleway", sans-serif;
	}
	header {
		height: 100vh;
	}
	a {
		transition: all 0.3s;
		color: rebeccapurple;
		text-decoration: none;
	}
	.h-fit {
		height: fit-content;
	}
	.w-fit {
		width: fit-content;
	}
	a:hover {
		opacity: 0.7;
		text-decoration: none;
	}
	.bg-primary {
		background-color: rebeccapurple !important;
	}
	.text-primary {
		color: rebeccapurple !important;
	}
	.bg-darker {
		background-color: rgb(23, 19, 26);
	}
	.border-darker {
		border-color: rgb(23, 19, 26) !important;
	}
	.c-rounded {
		border-radius: 20px;
	}
	.project-link {
		z-index: 5;
		transition: all 0.5s !important;
	}
	.project-link:hover,
	.project-link:focus {
		background: linear-gradient(
			to top right,
			rgba(31, 172, 187, 0.653),
			rgba(193, 45, 163, 0.282)
		);
	}
	.back-to-top {
		position: fixed;
		visibility: hidden;
		opacity: 0;
		right: 15px;
		bottom: 15px;
		z-index: 996;
		background: rebeccapurple;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		transition: all 0.4s;
		color: #fff !important;
	}
	.back-to-top:hover {
		opacity: 0.5 !important;
	}
	.back-to-top.active {
		visibility: visible;
		opacity: 1;
	}
	#preloader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		overflow: hidden;
		background: rgb(23, 19, 26);
	}
}

/* Hero */
@media screen {
	.hero {
		height: 100vh;
	}

	.hero span {
		padding-bottom: 4px;
		border-bottom: 3px solid rebeccapurple;
	}

	.hero-btn-animation {
		/* -webkit-animation: go-down 0.2s alternate-reverse infinite linear;
		 animation: go-down 0.2s alternate-reverse infinite linear; */
		background-color: rebeccapurple;
		color: white;
	}

	.hero-btn-animation:hover,
	.hero-btn-animation:focus {
		color: white !important;
	}

	@-webkit-keyframes go-down {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(20px);
		}
	}

	@keyframes go-down {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(20px);
		}
	}
}

/* Skills */
@media screen {
	.skills .progress {
		height: 60px;
		display: block;
		background: none;
		border-radius: 0;
	}

	.skills .progress .skill .val {
		float: right;
		font-style: normal;
	}

	.skills .progress-bar-wrap {
		background: white;
		height: 10px;
	}

	.skills .progress-bar {
		width: 1px;
		height: 10px;
		transition: 0.9s;
		background-color: rebeccapurple;
	}
}

/* Resume */
@media screen {
	.resume .resume-item {
		border-left: 2px solid rgb(23, 19, 26);
		position: relative;
	}

	.resume .resume-item::before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50px;
		left: -9px;
		top: 0;
		background: #fff;
		border: 2px solid rgb(23, 19, 26);
	}

	.resume .resume-item::after {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50px;
		left: -9px;
		bottom: 0;
		background: #fff;
		border: 2px solid rgb(23, 19, 26);
	}
}
